$primary: hsl(212, 45%, 89%);
@import url(https://fonts.google.com/specimen/Outfit);
@import "../node_modules/bootstrap/scss/bootstrap";

.card {
    max-width: 18rem;
    font-family: 'Outfit', sans-serif;

    #heading {
        font-weight: 700;
    }

    #text {
        font-size: 15px;
        font-weight: 400;
        color:hsl(220, 15%, 55%);
    }
}